/* .box{
    background-color: #fff;
    padding: 2vh 4vh;
    height: 40vh;

}
.course-img{
    height: 20vh;
    width: 100%;
    background-color: #effeff;
    background-size: 100%;
    img{
        height: 90%;
    }
    p{
        font-size: 1.5em;
        font-weight: 600;
        color: #000;
        margin-top: 1vh;
    }
} */